@charset "utf-8";

.image-annotation-wrapper {
	width: 863px;
}

.image-annotation-meta,
.image-annotation-note-meta {
	font-size: 10px;
}

.image-annotation-meta ul,
.image-annotation-note-meta ul {
	list-style: none;
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.image-annotation-meta ul li,
.image-annotation-note-meta ul li {
	display: inline;
}

.image-annotation-meta li.image-annotation-add {
	float: right;
}

.image-annotation-image-container {
	position: relative;
}

.image-annotation-image-container img {
	border: 1px solid #000;
	z-index: -1;
}

.image-annotation-notice,
.image-annotation-error,
.image-annotation-area {
	position: absolute;
	border: 1px solid #555;
}

.image-annotation-notice,
.image-annotation-error {
	top: 0;
	left: 0;
	width: 100%;
	height: 25px;
	opacity: .6;
	display: none;
	z-index: 10;
}

.image-annotation-error {
	background-color: #cc0000;
}

.image-annotation-notice {
	background-color: #000;
}

.image-annotation-note,
.image-annotation-area,
.image-annotation-area a {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.image-annotation-area a {
	border: 1px solid orange;
	display: block;
}

.image-annotation-note {
	background-color: rgba(160, 160, 160, 0.6);
	display: none;
	max-width: 220px;
	padding: 5px;
	position: absolute;
}

.image-annotation-note-meta-text {
	font-size: 12px;
}

/* AddThis fix */
div.addthis_toolbox {
	float: none; width: 105px; display: table-cell;
}
div.addthis_toolbox span {
	float: none; display: table-cell;
}
